body
    background: black
    color: #ccc
    display: flex
    justify-content: center
    flex-direction: column
    align-content: center
    height: 100vh
    text-align: center
    transition: 0.8s

    button
        width: 20%
        padding: 10px
        box-shadow: 0 0 5px white
        border: 3px solid lightgreen
        background: purple
        color: white
        border-radius: 10px
        cursor: pointer

        &:hover
            opacity: 0.8

.light
    background: white
    color: black
    

